/*CSS*/
html body {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

ul li{list-style: none;}

/*Toolbar*/
#toolbar {
	width: 100%;
	height: 50px;
	/*background: red;*/
}

#info_top{
	width: 242px;
	height: 30px;
	/*background-color: green;*/
    float: right;
    /*margin-top: 10px;*/
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    margin-right: 30px; 
}

#info_text{
	width: 50%;
	height: 30px;
	/*background-color:purple;*/
	font-size: 12px;
	padding-top: 15px
}

#square{
	width: 35px;
	height:35px;
	background: url(../images/ic_apps_black_24px.svg) no-repeat;
	margin: 10px 10px 0px 0px;
}

#connexion{
	width: 125px;
	height: 35px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	font-weight: bold;
	color: #FFF;
	background-color: #407af9; 
	border: solid 1px #e1e1e1;
	margin-top: 3px;
}





/*Champs de recherche*/
section{
	width: 50%;
	height:200px;
	/*background-color: yellow;*/
	margin: auto;
	padding-top: 150px; 

}





#search{
	max-width: 600px;
	min-width: 200px;
	height:44px;
	background-color: brown;
	margin: auto;
}

#logo{
	width: 272px;
	height: 92px;
	background: url(images/google_logo.png) no-repeat;
	margin: 0px auto 50px auto;
	}

input{
	width: 100%;
	height: 44px;
	border: 1px solid #c3c3c3;
	box-shadow: 0px 1px 5px #ccc;
	padding-left: 20px;
	font-size: 16px;
	/*background-color: green;*/
}

#dualbutton{
	max-width: 350px;
	height: 35px;
	/*background-color: blue;*/
	margin: 30px auto 30px auto;
	/*padding-left: 20px;*/
	display: flex;
	justify-content: center space-around;
	align-items: space-around;
	cursor: pointer;
}

#singlebutton{
	width: 145px;
	height: 35px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	font-weight: bold;
	color: #757575;
	background: linear-gradient(#f8f8f8, #f1f1f1);
	border: solid 1px #e1e1e1;
}






/*Footer*/
footer{
	width: 100%;
	height: 60px;
	background-color: #f2f2f2;
	position: absolute;
	bottom: 0px;
	color: #666;
}

#align {

width: 100%;
height: 40px;
/*background-color: purple;*/
display:flex;
justify-content: space-between;
margin-top: 20px;
font-size: 12px;
}


.footer_left{

width: auto;
height:40px;
/*background-color:red;*/
display: flex;
margin: 0 0px 0 0px;
align-items: flex-start;
}


.footer_right{

width: auto;
height:40px;
/*background-color:red;*/
display: flex;
margin: 0 30px 0 0;
align-items: flex-start;
}

.footer_left li{
margin: 0 10px 0 0;
}

.footer_right li{
margin: 0 0 0 10px;
}






